/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

.listRows {
	padding: 15px;
}

md-toolbar {
	padding: 0px 15px 0px 15px;
}

.version-number{
	font-size: 12px;
	text-align: right;
}

.main-header{
	color: white;
	text-decoration: none;
}